// @import './iconfont.css';
:root,
page {
  --pink: #fbcfe8;
}

// #ifdef MP-WEIXIN
// @import './reset.wx.css';
page {
  height: 100%;
}
// #endif

// #ifdef H5
// @import './reset.h5.css';
uni-page-body {
  height: 100%;
}
// #endif
